.movie {
    background-color: pink;
  
    padding: 1em 0;
    margin: 1rem;
  
    min-height: 250px;
    min-width: 225px;
    flex-basis: 18%;
  
    border-radius: 5px;
  
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
  }
  
  .movie__content {
    font-size: 2rem;
    grid-column-start: 2;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 3rem;
  
    text-align: center;
    font-weight: 100;
    overflow: hidden;
  }
  
  .movie__content-title {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .movie__content-overview {
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }

  .movie__content-release_date {
    font-size: 1rem;
    padding: 0;
    margin: 0;
  }
  
   .movie_content-image_url img {
    padding: 2rem;
  }

  .select__movie {
    grid-column-start: 1;
    margin: 0.5rem;
  }