.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.App-logo {
  align-items: left;
  /* animation: App-logo-spin infinite 20s linear; */
  height: 180px;
}

.App-header {
  /* url(https://fonts.googleapis.com/css?family=Walter+Turncoat); */
  display: flex;
  align-items: center;
  background-color: white;
  height: 250px;
  padding: 20px;
  color: white;
  font-family: "Walter Turncoat", cursive;
}

.App-title {
  align-items: center;
  font-family: "Aclonica";
  vertical-align: middle;
  text-align: center;
  font-size: 3.5em;
  height: 225px;
  padding: 5px;
  /* width: 85%; */
}

.App-intro {
  font-size: large;
}

.nav {
  width: 100%;
}

.nav-btn {
  width: 130px;
  background-color: turquoise;
}
.nav-bg {
  background-color: white;
}

.btn-color {
  border-color: #f5df80;
  background: repeating-linear-gradient(
    45deg,
    #f5df80 1px,
    #97dce2 8px,
    #97dce2 25px
  );
}

.btn-solid {
  background-color: #97dce2;
}

.btn-spaced {
  padding: 3px;
  align-items: center;
}

.font-face {
  /* font-family: 'Varela Round', sans-serif; */
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: white;
  font-size: 1.3rem;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

button:hover,
a.btn-color:hover {
  background-color: #f5df80;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(152, 147, 18, 0.673),
    0 6px 20px 0 rgba(152, 147, 18, 0.673);
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  color: rgb(2, 0, 0);
  font-size: 2rem;
}
